body {
  color: silver;
  background-color: #2e2e2e;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.stocks-head {
  margin: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.updated {
  font-size: small;
  margin-top: 5px;
}

.btn {
  width: 32px;
  height: 32px;
  color: silver;
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-close {
  width: 24px;
  height: 24px;
}

svg {
  width: 24px;
}

.stocks {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(100vh - 145px);
  transition: all 300ms ease;
  margin-top: 10px;
}

.stocks::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #dedede;
}

.stocks::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

.card {
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  transition: all 300ms ease;
}

.card-title {
  font-size: large;
  font-weight: 600;
  color: rgb(230, 230, 230);
}

.card-info {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}

.card-price {
  margin-right: 10px;
}
.card-percent {
  font-weight: 500;
  margin-top: -5px;
  padding: 5px;
  border-radius: 5px;
  width: 65px;
  text-align: center;
  color: #fff;
}
.card-percent.positive {
  background-color: rgb(8, 191, 8);
}
.card-percent.negative {
  background-color: rgb(196, 11, 11);
}

.items-container {
  overflow-x: hidden;
  margin-left: -191px;
  border-bottom: 1px solid rgb(70, 70, 70);
  transition: all 300ms ease;
}

.items-container:hover {
  margin-left: 0px;
  /* margin-right: -90px; */
}

.items-container:hover .card-info {
  opacity: 0;
  display: none;
}

.remove {
  cursor: pointer;
  display: flex;
  background-color: rgb(196, 11, 11);
  padding: 0 10px;
}

.analyze {
  color: #fff;
  cursor: pointer;
  display: flex;
  background-color: rgb(8, 191, 8);
  padding: 0 10px;
}

.entries-container {
  display: none;
  position: fixed;
  background-color: #3434349d;
  backdrop-filter: blur(2px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.entries {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 10px;
  right: 10px;
  text-align: center;
  background-color: #343434;
  padding: 15px;
  border: 1px solid rgb(70, 70, 70);
}

.entries label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.entries input {
  height: 30px;
  line-height: 30px;
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
}

.entries button.btn-save {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgb(46, 46, 238);
  border: 1px solid rgb(79, 79, 245);
  border-radius: 5px;
  padding: 7px;
  color: #fff;
}

.error {
  display: none;
  color:  rgb(240, 70, 70);
}

.input-error {
  color:  #fff;
  background-color: rgb(245, 140, 140);
  outline-color: rgb(215, 50, 50);
  border-color:  rgb(215, 50, 50);
}

.filters .btn.active {
  background-color: silver;
  color: #3c3c3c;
  border-bottom: 1px solid rgb(70, 70, 70);
  font-weight: 600;
}

.filters .btn {
  margin-left: 10px;
  width: max-content;
  border-radius: 5px;
}

.date-range-controls {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.stocks-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stocks-info > div {
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
}